html {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    color: #500013;
    background-color: #fff;
    text-align: center;
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #500013;
}
a:hover {
    text-decoration: underline;
}
a:visited, a:active {
    text-decoration: none;
    color: #500013;
}

nav {
    width: 100%;
    background-color: #DEDCCD; 
    opacity: 0.5;
    position: fixed;
    top: 0;
    font-weight: 250;
}
nav:hover {
    opacity: 1;
}

ul {
    list-style: none;
    font-size: 0.75rem;
    display: inline-flex;
    justify-content: inline-flex;
    padding: 0px;

}

li {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    font-size: 7.5rem;
    font-weight: 300;
    padding-top: 75px;
    padding-bottom: 0px;
    margin: 20px auto;
}

h2 {
    font-size: 1.75rem;
    font-weight: 250;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

p {
    font-size: 1rem;
    font-weight: 250;
}

#start-bild {
    height: 900px;
    max-width: 1300px;
    margin: 15px auto;
    background: url("images/IMG_0283.jpeg");
    background-size: cover;
}

.container {
    max-width: 1300px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.text {
    height: 360px;
    width: 650px;
    background-color: #DEDCCD;
}

.text p {
    margin: 10% 5%;
}

.bild {
     height: 360px;
     width: 650px;     
}


.intro {
    background: url("images/notebook2.jpg");
    background-size: cover;
}

.amund {
    background: url("images/amund-bild.jpg");
    background-size: cover;
}

.hossmo {
    background: url("images/hossmo-bild2.jpeg");
    background-size: cover;
}

.fest {
    background: url("images/amund-bild.jpg");
    background-size: cover;
}

.tal {
    background: url("images/IMG_4021.jpeg");
    background-size: cover;
}

.klädsel {
    background: url("images/dress2.jpg");
    background-size: cover;
}

.presenter {
    background: url("images/grekland.jpeg");
    background-size: cover;
}

.annat {
    background: url("images/annat.jpeg");
    background-size: cover;
}

@media only screen and (max-width: 600px) {

    html {
        font-size: 16px;
    }

    li {
        margin-left: 7.5px;
        margin-right: 7.5px;
    }

    h1 {
        font-size: 4.5rem;
        font-weight: 200;
        padding-top: 30px;
    }

    h2 {
        font-size: 1.2rem;
        font-weight: 250;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    #start-bild {
        width: 100%;
        background-position: center;
    }

    .container {
        max-width: 600px;
        margin: 0px auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
    }

    #intro, #fest-info, #klädsel-info, #annat-info {
        flex-direction: column-reverse;
    }
    
    .text {
        max-width: 100%;
        height: auto;
        background-color: #DEDCCD;
    }
    
    .text p {
        margin: 10% 5%;
    }
    
    .bild {
         height: 360px;
         max-width: 100%;   
         background-position: center;
    }

    #form {
        max-width: 100%;
    }

}
